@import '~src/assets/styles/styles.scss';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/icon?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic');

$mobile-horizontal-padding: 2vw;
table {
  width: 100%;
  font-size: 5px;
}

#search-bar {
  height: 50px;
  display:flex;
  margin:auto;
  justify-content: center;
  padding-bottom: 10px;
  .isMobile & {
    justify-content: flex-start;
    padding-left: $mobile-horizontal-padding;
    padding-right: $mobile-horizontal-padding;
    height: 40px;
  }
  .input-form {
    width: 100%;
    min-width: 450px;
    max-width: 700px;
    .isMobile & {
      min-width: unset;
      font-size: 16px;
      ::ng-deep .mat-form-field-wrapper {
        width: 92vw;
      }
    }
  }
  #search-button {
    background-color: #f3f3f3;
    margin-left: 10px;
    height: 40px;
    width: 30px;
    .isMobile & {
      height: 35px;
      font-size: 12px;
    }
  }
}

#filter {
  .isMobile & {
    font-size: 16px;
    padding-left: $mobile-horizontal-padding;
    padding-right: $mobile-horizontal-padding;
  }
}
#summary, #audit-trail {
  margin-bottom: 5px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 11px;
  div {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: unset;
    }
  }
  .isMobile & {
    font-size: 10px;
  }
}

#spinner {
  padding-top: 150px;
  width: 100px;
  margin:auto;
  .isMobile & {
    padding-top: 75px;
  }
}

#container {
  max-width: 900px;
  margin:auto;
  #table-container {
    margin-bottom: 60px;
  }
}

::ng-deep {
  .isMobile & {
    .mat-cell, .mat-header-cell {
      font-size: 11px !important;
    }
  }
}

#page-title {
  text-align:center;
  font-size: 16pt;
  margin-top:50px;
  .isMobile & {
    margin-top: 20px;
    padding-left: $mobile-horizontal-padding;
    padding-right: $mobile-horizontal-padding;
    margin-bottom: 20px;
  }
}

#sub-title {
  font-size: 10pt;
  margin-top:10px;
  margin-bottom:20px;
  text-align:center;
}

#sub-title, #page-title {
  font-family: monospace;
}

.credit .colored {
  color:red!important;
}

.debit .colored {
  color:green!important;
}
