#footer-container {
  padding-top:13px;
  position: fixed;
  border-top: solid #eaeaea 1px;
  bottom: 0;
  left: 0;
  display: flex;
  background-color:white;
  width: 100%;
  height: 28px;
  justify-content: center;
  font-family: monospace;
  .marginLeft {
    margin-left: 50px;
  }
  &.isMobile {
    z-index: -1;
  }
}
