@import "~src/assets/styles/styles.scss";
#information {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12pt;
  margin:auto;
  margin-top: 40px;
  max-width: 485px;
  padding: 20px;
  &.isMobile {
    margin-top: 0px;
    font-size: 10pt;
  }
}

#top {
  margin-bottom: 10px;
}

p {
  margin:auto;
}

.example {
  margin-bottom: 20px;
}

.disclaimer {
  font-style: italic;
  font-size: 8pt;
}

.hyperlink {
  font-size: 11pt;
  .isMobile & {
    font-size: 10pt;
  }
}

.hyperlink, .disclaimer {
  margin-left: 12px;
  .isMobile & {
    margin-left: 8px;
  }
}
